@import './styles/variables.css';
@import './styles/font.css';

#root {
  max-width: 1440px;

  margin: 0 auto;
 
 
  
  background-color: var(--color-bg);
}

.active{
    color: var(--color-text);
   border-bottom: 2px solid var(--color-text);
    font-weight: 700;
}



.modalContentContainer{
    border: 2px solid red;
    width: 60vw;
    height: 80vh;
    overflow-y: auto;
}

p{
    max-width: 800px;
}

